

<div class="row">
    <div class="col-lg-12">
       
        <h6 class="row col-lg-5" >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas.
        </h6>

        <div class="row">
            <div class="col-lg-6">
                <nb-card>
                    <nb-card-body>
                        <label  class="label col-form-label" style="color: cornflowerblue;font-family: nb-theme(font-family-primary); font-size: 1rem;">
                            Lorem ipsum topic dolor sit amet 
                        </label>
                        <div class="form-group">
                            <label id="label_id" class="row col-12" style="margin-bottom: 10;">
                                <input type="radio" id="rad_input" (click)="navigate()" name="radio">
                                <span id="rad">O/L Maths 2022 Monday 5.00PM to 7.00PM</span>
                            </label>
                            <label id="label_id" class="row col-12">
                                <input type="radio" id="rad_input"  name="radio">
                                <span id="rad">O/L Maths 2022 Monday 5.00PM to 7.00PM</span>
                            </label>
                            <label id="label_id" class="row col-12">
                                <input type="radio" id="rad_input"  name="radio">
                                <span id="rad">O/L Maths 2022 Monday 5.00PM to 7.00PM</span>
                            </label>
                            <label id="label_id" class="row col-12">
                                <input type="radio" id="rad_input"   name="radio">
                                <span id="rad">O/L Maths 2022 Monday 5.00PM to 7.00PM</span>
                            </label>
                            <label id="label_id" class="row col-12">
                                <input type="radio" id="rad_input" name="radio">
                                <span id="rad">O/L Maths 2022 Monday 5.00PM to 7.00PM</span>
                            </label>
                            <label id="label_id" class="row col-12">
                                <input type="radio" id="rad_input" name="radio">
                                <span id="rad">O/L Maths 2022 Monday 5.00PM to 7.00PM</span>
                            </label>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-lg-6">
                <nb-card>
                        <nb-card-body>
                        <form>
                            <div class="row">
                                <div class="col-5">
                                    <label style="color: rgb(0, 102, 255);" class="label col-form-label">Payment Information</label>
                                </div>
                                <div class="col-4" style="text-align: right;">
                                    <label style="color: rgb(168, 199, 241); float: right;" class="label col-form-label">Payable Amount </label>
                                </div>
                                <div class="col-3">
                                    <label><b>LKR 1200.00</b></label>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label for="inputEmail1" style="color: black;" class="label col-sm-4 col-form-label">Amount</label>
                                <div class="col-sm-8">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: rgb(5, 49, 5); color: ghostwhite; border-right: solid;">LKR</span>
                                        <input type="text" class="form-control" fullWidth >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-8" style="float: left; color: rgb(73, 70, 70);">
                                    <nb-checkbox>Partial Payment</nb-checkbox><nb-icon icon="question-mark-circle-outline"></nb-icon>
                                </div>
                            </div>
                            <div class="form-group row col-sm-12">
                                <label for="inputEmail1" class="label col-sm-4 col-form-label"></label>
                                <!-- <nb-card style="border-color: white;  width: 100%;" class="col-sm-8">
                                    <nb-card-body  style="background-color: rgb(219, 220, 250);  width: 100%;">
                                        <div class="row">
                                            <label><b>Last Payment </b> <label style="color: rgb(0, 102, 255)"><b>Rs. 600.0</b></label></label>
                                        </div>
                                        <div class="row">
                                            <a class="label col-form-label" style="color: darkslategrey;">11 May 2021</a>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"></div>
                                            <div class="col-sm-6">
                                                <a style="align-self: right ;font-family: nb-theme(font-family-primary); font-size: 0.75rem; color:rgb(0, 102, 255) ;">View History</a>
                                            </div>
                                        </div>
                                    </nb-card-body>
                                </nb-card> -->
                                <div class="col-sm-8">
                                    <div style="background-color: rgb(219, 220, 250);  width: 100%;" class="card">
                                        <div class="card-body p-0 clearfix">
                                            <div class="mb-0 pt-3">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10">
                                                <b>Last Payment </b><label style="color: rgb(0, 102, 255)"><b>Rs. 600.0</b></label>
                                                </div>
                                            </div>
                                            <div class="text-muted text-uppercase font-weight-bold font-xs">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10">
                                                <a class="label col-form-label" style="color: darkslategrey;">11 May 2021</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7"></div>
                                                <div class="col-5">
                                                    <a style="font-size: 0.75rem; color:rgb(0, 102, 255); align-self: right;">View History</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.col-->
                        
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail1" style="color: black;" class="label col-sm-4 col-form-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" fullWidth>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword2" style="color: black;" class="label col-sm-4 col-form-label">Contact number</label>
                                <div class="col-sm-8">
                                    <input type="contact" class="form-control" fullWidth >
                                </div>
                            </div>

                            <div class="form-group row">
                            <div class="offset-sm-3 col-sm-9">
                                <button style="float: right;" type="submit" nbButton status="primary">Proceed to pay</button>
                            </div>
                            </div>
                        </form>
                        </nb-card-body>
                </nb-card>
            </div>
        </div>

    </div>
</div>