

<div class="row">
    <div class="col-12">
       
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum!</h6>


            <div class="row .col-12">
                <nb-card class="row .col-6">
                    <nb-card-body>
                    </nb-card-body>
                </nb-card>
                <nb-card class="row .col-6">
                    <nb-card-body>
                    </nb-card-body>
                </nb-card>
            </div>

    </div>
</div>